[Desktop Entry]
Name=Elapse Client
Comment=Cognitive state monitor
Exec=elapse-client
Icon=elapse-client
Terminal=false
Type=Application
Categories=Science;MedicalSoftware;DataVisualization;Qt
